<a [routerLink]="['/admin/listuser']" href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
        class="fas fa-users"></i> Users</a>
<a [routerLink]="['/admin/listcustomer']" href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
    class="fas fa-address-book me-2"></i>Customer</a>
<a [routerLink]="['/admin/listdoctor']" href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
        class="fas fa-user-nurse me-2"></i>Doctor</a>
<a [routerLink]="['/admin/listbanner']" href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
        class="fas fa-image me-2"></i>Banner</a>
<a [routerLink]="['/admin/listlanguage']" href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                class="fas fa-language"></i> Language</a>
<a [routerLink]="['/admin/listusercategory']" href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                        class="fas fa-list-alt"></i> User Category</a>

<a (click)="logout()" href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
    class="fas fa-power-off me-2"></i>Logout</a>