<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"><i class="fas fa-user-secret me-2"></i>CMS</div>
        <div class="list-group list-group-flush my-3">
            <mc-sidebar></mc-sidebar>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <mc-navigation></mc-navigation>

        <div class="container-fluid px-4">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>